---
title: SVG Sizing Demo
description: Test Resizing
---
%section
  .container
    .row
      .col-sm-6
        %h2 half size textarea
        = partial "textarea.svg"
      .col-sm-6
        %h2 half size text
        = partial "text.svg"
    .row
      .col-sm-12
        %h2 full size text
        = partial "text.svg"
    .row
      .col-sm-3
        %h2 quarter size textarea
        = partial "textarea.svg"
      .col-sm-3
        %h2 quarter size textarea
        = partial "textarea.svg"
      .col-sm-6
        %h2 half size text
        = partial "text.svg"
    .row
      .col-sm-3
        %h2 quarter size textarea
        = partial "symbol.svg"
      .col-sm-3
        %h2 quarter size textarea
        = partial "symbol.svg"
      .col-sm-6
        %h2 half size text
        = partial "symbol.svg"
